.navList {
  display: inline-flex;
  list-style: none;
}

.navLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-family: Segoe UI;
  font-weight: 500;
  font-size: 18px;
  color: #2a363b;
}
nav {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%), 0 1px 1px 0 rgb(0 0 0 / 10%),
    0 2px 1px -1px rgb(0 0 0 / 10%);
}
.activeNavLink {
  color: #f74040;
}
